dialog(class="modal__contact")
    button(class="btn__modal-close")
    h2(class="heading-3 margin-block-end-8") Thank you for reaching out! 
    p I will review your message as soon as possable and get back to you.
