form(class="flex column container" data-type="narrow")
    div(class="flex-group")
        div(class="flex column")
            label(for="name") Name
            input(type="text") 
        div(class="flex column")
            label(for="email") Email
            input(type="email") 
    label(for="subject") Subject
    input(type="text") 
    label(for="message") message
    textarea(name="", cols="30", rows="10") 
    button(type="submit" class="btn__accent | margin-block-start-6") Submit