extends ../layout

block content
  main(class="main__contact")
    img(class="main__banner-img", src="", alt="", srcset="../images/contact-img.jpg")

    section(class="container section padding-block-end-12" data-type="wide")
      header 
        h1(class="heading-1 margin-block-end-8")= `${title}`
        p(class="margin-block-end-10 padding-inline-8") Thanks for stopping by. If you have questions about my art techniques or are interested in commissions or purchasing work send me an email. I hope you see beauty all around you everyday.

      include form

  if dialog === true 
    include ./formSubmitModal.pug