extends ../layout

block content
  main(class="main__contact")
    img(src="", alt="", srcset="../images/contact-img.jpg")

    section(class="container section padding-block-end-12" data-type="wide")
      header 
        h1(class="heading-1 margin-block-end-8")= `${title}`
        p(class="margin-block-end-10 padding-inline-8") Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi dolores sit similique. Saepe, deserunt amet maxime odit consequuntur porro doloribus perspiciatis voluptatum eum, rerum reprehenderit. Quod minus perspiciatis quo veritatis.Doloremque incidunt, in debitis deleniti ipsa atque doloribus obcaecati eveniet voluptas eos placeat labore alias quae? Reiciendis adipisci voluptatibus, repellat id dolorem veniam consequatur voluptatem officiis cum rem dolores consectetur?

      include form

  if dialog === true 
    include ./formSubmitModal.pug