extends ../layout
include ./../components/mixin/itemPreview
include ./../components/mixin/videoPreview

block content
  main(class="main__gallery padding-block-end-12" id="top")
    img(class="main__banner-img", src="", alt="", srcset="../images/gallery-test-two.jpg")
    include ./../components/nav/galleryNav
    include ./../components/nav/backToTopBtn
    
    section(class="container" data-type="wide")
      //- button(class="btn__filter-toggle" id="btn-gallery-filter-toggle")
      //-   span 
      //-   span 
      //-   span
      header 
        h1(class="heading-1" id="gallery-title")= `${title} - ${render_types}`
      div(class="container__card-preview")
        +itemPreview("../images/prints/2-for-tea.jpg", 458, 640, "2 for Tea", "Framed relief print of two tea cups.", render_types === 'prints' || render_types === 'all' ? "prints" : "prints exit none", "prints-11", "Relief print with chine colle - 1/1")
        +itemPreview("../images/prints/3-stacks-and-rock.jpg", 640, 480, "3 Stacks + Rock", "Framed relief print of the Rock in Morro Bay, next to a house plant.", render_types === 'prints' || render_types === 'all' ? "prints" : "prints exit none", "prints-1", "Relief Print - 1/4")
        +itemPreview("../images/prints/3-stacks-and-rock-night.jpg", 640, 480, "3 Stacks + Rock Night Scene", "Framed relief print of the Rock in Morro Bay at night, next to a house plant.", render_types === 'prints' || render_types === 'all' ? "prints" : "prints exit none", "prints-2", "Relief print - 1/1")
        +itemPreview("../images/watercolors/a-pink-heeled-shoe.jpg", 640, 480, "A Pink Shoe", "Watercolor painting of a pink shoe.", render_types === 'paintings' || render_types === 'all' ? "paintings" : "paintings exit none", "painting-1", "Watercolor")
        //- A
        +itemPreview("../images/prints/alone.jpg", 640, 480, "Alone", "Etching of a man alone in an alleyway next to a house plant.", render_types === 'prints' || render_types === 'all' ? "prints" : "prints exit none", "prints-3", "Etching with Aquatint - 3/3")
        +itemPreview("../images/prints/alone-in-the-city.jpg", 524, 379, "Alone in the City", "Dry point of a person at a table alone in a city scene.", render_types === 'prints' || render_types === 'all' ? "prints" : "prints exit none", "prints-4", "Dry Point - 1/2")
        //- C
        +itemPreview("../images/watercolors/charlie.jpg", 480, 586, "Charlie", "Watercolor of Charlie the dog.", render_types === 'paintings' || render_types === 'all' ? "paintings" : "paintings exit none", "painting-13", "Watercolor")
        +itemPreview("../images/prints/cranes-by-the-sea.jpg", 640, 474, "Cranes by the Sea", "Woodcut print of two crains by the sea.", render_types === 'prints' || render_types === 'all' ? "prints" : "prints exit none", "prints-12", "Woodcut")
        //- D
        +itemPreview("../images/sketches/a-day-of-printmaking-1.jpg", 480, 542, "A day of Printmaking - 1", "A collage that includes a watercolor of an art building, and a relief print of the Rock in Morro Bay and of four leaves.", render_types === 'sketches' || render_types === 'all' ? "sketches" : "sketches exit none", "sketch-6", "Watercolor sketches with examples of relief prints")
        +itemPreview("../images/sketches/a-day-of-printmaking-2.jpg", 471, 522, "A day of Printmaking - 2", "A collage that includes watercolors of art supplies, and examples of relief and drypoint prints of the Rock in Morro Bay and of the sun shining.", render_types === 'sketches' || render_types === 'all' ? "sketches" : "sketches exit none", "sketch-7", "Watercolor sketches with examples of relief and dry point prints")
        +itemPreview("../images/watercolors/donkey.jpg", 543, 720, "Donkey", "Watercolor painting of a donkey.", render_types === 'paintings' || render_types === 'all' ? "paintings" : "paintings exit none", "painting-11", "Watercolor with ink")
        +itemPreview("../images/watercolors/door.jpg", 480, 640, "Door", "Watercolor painting of a door.", render_types === 'paintings' || render_types === 'all' ? "paintings" : "paintings exit none", "painting-8", "Ink and watercolor")
        +itemPreview("../images/sketches/dutch-iris.jpg", 646, 484, "Dutch Iris", "Watercolor, with pigments from the flower, and ink of a Dutch iris.", render_types === 'sketches' || render_types === 'all' ? "sketches" : "sketches exit none", "sketch-12", "Watercolor, pigments from the flowers and ink")
        //- E
        +itemPreview("../images/watercolors/egret.jpg", 596, 812, "Egret", "Watercolor of an egret on Yupo paper.", render_types === 'paintings' || render_types === 'all' ? "paintings" : "paintings exit none", "painting-2", "Watercolor on Yupo paper")
        +itemPreview("../images/sketches/estero-bluffs.jpg", 480, 559, "Estero Bluffs", "A collage that includes watercolors and ink of a shoreline view, a spotted sandpiper, a black turban snail shell, and a shipwreck, as seen from the Estoro Bluffs.", render_types === 'sketches' || render_types === 'all' ? "sketches" : "sketches exit none", "sketch-8", "Ink and watercolor")
        //- F
        +itemPreview("../images/watercolors/flower.jpg", 640, 460, "Flower", "Watercolor of a flower.", render_types === 'paintings' || render_types === 'all' ? "paintings" : "paintings exit none", "painting-12", "Ink and Watercolor")
        +itemPreview("../images/prints/four-leaves.jpg", 570, 570, "Four Leaves", "Relief print of four leaves.", render_types === 'prints' || render_types === 'all' ? "prints" : "prints exit none", "prints-13", "Relief print")
        //- H
        +videoPreview("../video/handmade-pop-up-book.mp4", "100%", "100%", "Video", "Handmade Pop-up Book", "Handmade Pop-up Book using various print methods.",  render_types === 'prints' || render_types === 'all' ? "prints" : "prints exit none", "prints-15", "Various print methods")
        +itemPreview("../images/watercolors/house.jpg", 410, 559, "House", "Watercolor of a small house.", render_types === 'paintings' || render_types === 'all' ? "paintings" : "paintings exit none", "painting-10", "Watercolor")
        //- L
        +itemPreview("../images/watercolors/llama.jpg", 480, 640, "Llama", "Watercolor and ink of a llama’s face.", render_types === 'paintings' || render_types === 'all' ? "paintings" : "paintings exit none", "painting-3", "Ink and Wash")
        //- M
        +itemPreview("../images/sketches/in-morro-bay.jpg", 595, 450, "Morro Bay - 1", "A collage that includes watercolors of the Rock in Morro Bay and sea shells.", render_types === 'sketches' || render_types === 'all' ? "sketches" : "sketches exit none", "sketch-1", "Watercolor")
        +itemPreview("../images/sketches/IMG_5726.jpg", 626, 422, "Morro Bay - 2", "Watercolor and ink of boats in the harbor with the Morro Bay Rock in the background.", render_types === 'sketches' || render_types === 'all' ? "sketches" : "sketches exit none", "sketch-2", "Ink and watercolor")
        +itemPreview("../images/sketches/IMG_5727.jpg", 640, 427, "Morro Bay - 3", "Watercolor and ink of Estuary pathway near a marina.", render_types === 'sketches' || render_types === 'all' ? "sketches" : "sketches exit none", "sketch-3", "Ink and watercolor")
        +itemPreview("../images/watercolors/morro-bay-harbor.jpg", 640, 480, "Morro Bay Harbor", "Watercolor of Morro Bay harbor with the Rock in the background, on Yupo paper", render_types === 'paintings' || render_types === 'all' ? "paintings" : "paintings exit none", "painting-4", "Watercolor on Yupo")
        +itemPreview("../images/watercolors/morro-beach.jpg", 640, 501, "Morro Beach", "Watercolor of Morro Bay Rock and birds on the beach", render_types === 'paintings' || render_types === 'all' ? "paintings" : "paintings exit none", "painting-14", "Watercolor with ink")
        +itemPreview("../images/watercolors/mountains.jpg", 640, 480, "Mountains", "Watercolor of a mountain scape with blue skies and white clouds.", render_types === 'paintings' || render_types === 'all' ? "paintings" : "paintings exit none", "painting-5", "Watercolor on Yupo paper")
        //- N
        +itemPreview("../images/prints/new-york.jpg", 570, 640, "New York", "Relief print, with chine colle, of two people looking out over the New York city skyline.", render_types === 'prints' || render_types === 'all' ? "prints" : "prints exit none", "prints-5", "Relief print with chine colle - 12/30")
        +itemPreview("../images/watercolors/night-scene.jpg", 480, 586, "Night Scene", "Watercolor of Morro Rock at night.", render_types === 'paintings' || render_types === 'all' ? "paintings" : "paintings exit none", "painting-15", "Watercolor")
        //- O
        +itemPreview("../images/watercolors/ocean.jpg", 640, 480, "Ocean", "Watercolor of seagulls flying in the air over the ocean, on Yupo paper.", render_types === 'paintings' || render_types === 'all' ? "paintings" : "paintings exit none", "painting-6", "Watercolor on Yupo")
        +itemPreview("../images/watercolors/old-boots.jpg", 524, 410, "Old Boots", "Watercolor of a pair of old boots.", render_types === 'paintings' || render_types === 'all' ? "paintings" : "paintings exit none", "painting-9", "Watercolor")
        +itemPreview("../images/prints/otter.jpg", 640, 480, "Otter", "Drypoint of an otter in water.", render_types === 'prints' || render_types === 'all' ? "prints" : "prints exit none", "prints-6", "Drypoint - A/P")
        +itemPreview("../images/sketches/outdoor-sketching-1.jpg", 627, 438, "Outdoor Sketching - 1", "A collage that includes watercolors and ink of a skull, plant, a woman sitting along a pier railing, Dana Adobe, a barrel and a window.", render_types === 'sketches' || render_types === 'all' ? "sketches" : "sketches exit none", "sketch-4", "Ink and watercolor")
        +itemPreview("../images/sketches/outdoor-sketching-2.jpg", 474, 519, "Outdoor Sketching - 2", "A collage that includes watercolors and ink of a marina trail, a naked lady flower, a california quail with two chicks and the Rock and ocean in Morro Bay.", render_types === 'sketches' || render_types === 'all' ? "sketches" : "sketches exit none", "sketch-5", "Ink and watercolor")
        //- P
        +itemPreview("../images/sketches/peach.jpg", 474, 524, "Peach", "A collage that includes watercolors of a Peach, a branch with cherry blossoms in bloom and a mug of hot peach tea.", render_types === 'sketches' || render_types === 'all' ? "sketches" : "sketches exit none", "sketch-13", "Watercolor")
        //- R
        +itemPreview("../images/prints/rock-number-3.jpg", 640, 480, "Rock #2", "Relief print, with chine colle of the Rock in Morro Bay, next to a house plant.", render_types === 'prints' || render_types === 'all' ? "prints" : "prints exit none", "prints-7", "Relief print with chine colle - 1/3")
        //- S
        +itemPreview("../images/sketches/sketching-in-the-studio-1.jpg", 494, 556, "Sketching in the Studio - 1", "Watercolor and ink of a painter’s art palette tray with paint colors in it.", render_types === 'sketches' || render_types === 'all' ? "sketches" : "sketches exit none", "sketch-9", "Watercolor with ink")
        +itemPreview("../images/sketches/sketching-in-the-studio-2.jpg", 500, 554, "Sketching in the Studio - 2", "Watercolor and ink of a painter’s subject image of a birch tree in snow, color palette samples and paint brush and paint wash.", render_types === 'sketches' || render_types === 'all' ? "sketches" : "sketches exit none", "sketch-10", "Watercolor with ink")
        +itemPreview("../images/sketches/sketching-in-the-studio-3.jpg", 497, 539, "Sketching in the Studio - 3", "A collage that includes watercolors and ink of a few christmas ornaments.", render_types === 'sketches' || render_types === 'all' ? "sketches" : "sketches exit none", "sketch-11", "Watercolor with ink")
        +itemPreview("../images/prints/sunflower.jpg", 417, 569, "Sunflower", "Linocut reduction print of a sunflower with brown background.", render_types === 'prints' || render_types === 'all' ? "prints" : "prints exit none", "prints-8", "Lino reduction print - 8/11")
        //- T
        +itemPreview("../images/prints/teapot.jpg", 570, 655, "Teapot", "Framed relief print of a teapot.", render_types === 'prints' || render_types === 'all' ? "prints" : "prints exit none", "prints-14", "Relief print with chine colle - 1/1")
        +itemPreview("../images/prints/three-pears.jpg", 467, 318, "Three Pears", "Two plate linocut print of three pears on a plate, next to sugar peas in a vase.", render_types === 'prints' || render_types === 'all' ? "prints" : "prints exit none", "prints-10", "Two plate Lino cut print with chine colle - 1/3")
        +itemPreview("../images/prints/three-tangerines.jpg", 640, 480, "Three Tangerines", "Two plate linocut print with chine colle of three tangerines on a napkin", render_types === 'prints' || render_types === 'all' ? "prints" : "prints exit none", "prints-9", "Two plate Lino print with chine colle  - 1/4")
        //- U
        +itemPreview("../images/watercolors/underwater.jpg", 640, 480, "Underwater", "Framed watercolor of underwater scene with clownfish and seaweed, next to a house plant.", render_types === 'paintings' || render_types === 'all' ? "paintings" : "paintings exit none", "painting-7", "Watercolor on Yupo paper")
    div(class="mask") 
  include itemModal
