extends ../layout
include itemPreviewMixin

block content
  main(class="main__gallery")
    img(src="", alt="", srcset="../images/gallery-img.jpg")
    include ./../components/nav/galleryNav
    
    section(class="container" data-type="wide")
      header 
        h1(class="heading-1")= `${title} - ${sub_page}`
      div(class="container__card-preview") 
        +itemPreview("../images/preview-1.jpg", "Title - 1")
        +itemPreview("../images/preview-2.jpg", "Title - 2")
        +itemPreview("../images/preview-3.jpg", "Title - 3")
