dialog(class="modal__item-details")
    button(class="btn__modal-close")
    div
        img(class="modal__img")
        div 
            h1 
            p
    div 
        button(class="btn__modal" id="btn-previous" data-gallery-view="all") previous
        button(class="btn__modal" id="btn-next" data-gallery-view="all") next