mixin itemPreview(img, title)
    li(class="card__item-preview")
        a(href="http://", target="_blank", rel="noopener noreferrer") 
            img(src=`${img}`, alt="", srcset="")
            P #{title}