extends ../layout
include itemPreviewMixin

block content
  main(class="main__gallery padding-block-end-12")
    img(class="main__banner-img", src="", alt="", srcset="../images/gallery-test-two.jpg")
    include ./../components/nav/galleryNav
    
    section(class="container" data-type="wide")
      //- button(class="btn__filter-toggle" id="btn-gallery-filter-toggle")
      //-   span 
      //-   span 
      //-   span
      header 
        h1(class="heading-1" id="gallery-title")= `${title} - sketches`
      div(class="container__card-preview") 
        +itemPreview("../images/prints/3-stacks-and-rock.jpg", "3 Stacks + Rock", "prints exit none", "prints-1", "Relief Print - 1 of 4")
        +itemPreview("../images/prints/3-stacks-and-rock-night.jpg", "3 Stacks + Rock Night Scene", "prints exit none", "prints-2", "Relief print - 1 of 1")
        +itemPreview("../images/watercolors/a-pink-heeled-shoe.jpg", "A Pink Shoe", "paintings exit none", "painting-1", "Watercolor")
        +itemPreview("../images/prints/alone.jpg", "Alone", "prints exit none", "prints-3", "Etching with Aquatint - 3 of 3")
        +itemPreview("../images/prints/alone-in-the-city.jpg", "Alone in the City", "prints exit none", "prints-4", "Dry Point - 1 of 2")
        +itemPreview("../images/watercolors/egret.jpg", "Egret", "paintings exit none", "painting-2", "Watercolor on Yupo paper")
        +itemPreview("../images/sketches/in-morro-bay.jpg", "Morro Bay - 1", "sketches", "sketch-1", "Untitled sketch")
        +itemPreview("../images/sketches/IMG_5726.jpg", "Morro Bay - 2", "sketches", "sketch-2", "Untitled sketch")
        +itemPreview("../images/sketches/IMG_5727.jpg", "Morro Bay - 3", "sketches", "sketch-3", "Untitled sketch")
        +itemPreview("../images/watercolors/llama.jpg", "Llama", "paintings exit none", "painting-3", "Ink and Wash")
        +itemPreview("../images/watercolors/morro-bay-harbor.jpg", "Morro Bay Harbor", "paintings exit none", "painting-4", "Watercolor on Yupo")
        +itemPreview("../images/watercolors/mountains.jpg", "Mountains", "paintings exit none", "painting-5", "Watercolor on Yupo paper")
        +itemPreview("../images/prints/new-york.jpg", "New York", "prints exit none", "prints-5", "Relief print with chine colle - 12 of 30")
        +itemPreview("../images/watercolors/ocean.jpg", "Ocean", "paintings exit none", "painting-6", "Watercolor on Yupo")
        +itemPreview("../images/prints/otter.jpg", "Otter", "prints exit none", "prints-6", "Drypoint - A/P")
        +itemPreview("../images/prints/rock-number-3.jpg", "Rock #3", "prints exit none", "prints-7", "Relief print with chine colle - 1 of 3")
        +itemPreview("../images/prints/sunflower.jpg", "Sunflower ", "prints exit none", "prints-8", "Lino reduction print - 8 of 11")
        +itemPreview("../images/prints/three-tangerines.jpg", "Three Tangerines", "prints exit none", "prints-9", "Two plate Lino print with chine colle  - 1 of 4")
        +itemPreview("../images/watercolors/underwater.jpg", "Underwater", "paintings exit none", "painting-7", "Watercolor on Yupo paper")

    div(class="mask")
  include itemModal