@use "../abstracts/" as *;

.container {
  --padding: #{$container-min-margin-inline} * 2;
  --max-width: #{$container-max-width};

  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.container[data-type="narrow"] {
  --max-width: #{$container-max-width-narrow};
}

.container[data-type="wide"] {
  --max-width: #{$container-max-width-wide};
}

.container[data-type="full-bleed"] {
  --max-width: 100%;
}

.container__card-preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  padding-inline: 2.5rem;
  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 0;
    
  }
  @media (max-width: 650px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.container {
  &__quote-img {
    margin-block: $size-12 $size-8;
    margin-inline: $size-12;
    display: flex;
    justify-content: center;
    align-items: center;

    &.wide-imgs {
      img {
        height: 300px;
        max-width: 450px;
        @media (max-width: 1200px) {
          height: 200px;
          max-width: 350px;
        }
        @media (max-width: 1050px) {
          height: 350px;
          max-width: 550px;
        }
        @media (max-width: 650px) {
          height: 300px;
          max-width: 400px;
        }
        @media (max-width: 425px) {
          height: 250px;
          max-width: 300px;
        }
      }
    }

    & img {
      max-height: 450px;
      object-fit: cover;
      flex-shrink: 1;
      border-radius: 10px;
      outline: 4px solid $color-primary-200-75;
      
      @media (max-width: 1450px) {
        max-height: 350px;
        
      }
      @media (max-width: 1200px) {
        max-height: 300px;
      
      }
      @media (max-width: 1050px) {
        max-height: 450px;
      }
    }    

    @media (max-width: 1400px) {
      margin-inline: $size-10;
    }

    @media (max-width: 1050px) {
      flex-direction: column;
      gap: 2.5rem;
    }
  }
}