nav(class=`nav__gallery container margin-block-4`)
    ul(class="flex-group")
        li 
            a(href="#") 
                p Water Colors
        li
            a(href="#") 
                p Etchings
        li 
            a(href="#") 
                p Mixed-Media