nav(class=`nav__gallery container margin-block-4`)
    ul(class="flex-group")
        li
            button(class="gallery-nav current" id="all")
                p All
        li
            button(class="gallery-nav" id="water-color") 
                p Water Colors
        li
            button(class="gallery-nav" id="printmaking") 
                p Printmaking
        li
            button(class="gallery-nav" id="sketches") 
                p Sketches