nav(class=`nav__gallery container margin-block-4`)
    button(class="btn__filter-toggle" id="btn-gallery-filter-toggle")
        span 
        span 
        span
        span 
        span
    ul(class="flex-group")
        li
            button(class="gallery-nav" id="all")
                p All
        li
            button(class="gallery-nav" id="paintings") 
                p Paintings
        li
            button(class="gallery-nav" id="printmaking") 
                p Prints
        li
            button(class="gallery-nav" id="sketches") 
                p Sketches