nav(class=`nav__gallery container margin-block-4`)
    ul(class="flex-group")
        li
            a(href="/gallery/all", class="gallery-nav") 
                p All
        li
            a(href="#", class="gallery-nav") 
                p Water Colors
        li
            a(href="#", class="gallery-nav") 
                p Etchings
        li
            a(href="#", class="gallery-nav") 
                p Mixed-Media