ul(class=`nav__main flex-group${(undefined===at_page ? "" : ` at-${at_page}`)}`)
    li 
        a(href="/") 
            p Home
    li 
        a(href="/gallery") 
            p Gallery
    li
        a(href="/about") 
            p About
    li  
        a(href="/contact") 
            p Contact
    li 
        a(href='/store') 
            p Store