nav(class=`nav__store`)
    ul(class="flex-group")
        li 
            a(href="/store") 
                p Store Home
        li
            a(href="/store/categories") 
                p Categories
        li 
            a(href="/store/full-catalog") 
                p All Items
        li 
            a(href='/store/checkout') 
                p Check Out
        