extends layout

block content

  main(class="main__hero")
    img(src="", alt="", srcset="../images/hero-img.jpg")
    article(class="container padding-block-13")
      header
        h1(class="heading-1 margin-block-end-8") Lynn Evey
       
      p(class="margin-block-end-8 padding-inline-8") Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad fuga soluta aperiam natus consequatur quidem eligendi voluptas eos expedita nemo.

      p(class="margin-block-end-8 padding-inline-8") Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, cumque illum! Sint distinctio aperiam odio ipsum fugit impedit itaque reprehenderit illum omnis natus ducimus dolor quae molestias, nesciunt reiciendis illo.Laboriosam non esse atque voluptas pariatur saepe minima enim laborum reprehenderit? Ullam exercitationem nesciunt magnam neque ea. Minima accusantium alias debitis nemo quaerat, odit magni ad exercitationem aperiam iste repellat.Eum, vitae sed expedita nobis unde, exercitationem dolorum fugit ipsum minus quas aliquid odit temporibus, deserunt debitis hic id delectus? Tempora ex adipisci atque eum? Repellendus sed molestiae enim esse.

    section(class="section container")
      article
        header
          h3(class="heading-2 margin-block-end-8") Water Colors
        
        p(class="margin-block-end-8 padding-inline-8") Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad fuga soluta aperiam natus consequatur quidem eligendi voluptas eos expedita nemo.

        p(class="margin-block-end-8 padding-inline-8") Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, cumque illum! Sint distinctio aperiam odio ipsum fugit impedit itaque reprehenderit illum omnis natus ducimus dolor quae molestias, nesciunt reiciendis illo.Laboriosam non esse atque voluptas pariatur saepe minima enim laborum reprehenderit? Ullam exercitationem nesciunt magnam neque ea. Minima accusantium alias debitis nemo quaerat, odit magni ad exercitationem aperiam iste repellat.Eum, vitae sed expedita nobis unde, exercitationem dolorum fugit ipsum minus quas aliquid odit temporibus, deserunt debitis hic id delectus? Tempora ex adipisci atque eum? Repellendus sed molestiae enim esse.

        img(src="../images/img-1.jpg", alt="", loading="lazy")

        p(class="margin-block-end-8 padding-inline-8") Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vitae praesentium quaerat reprehenderit cum quia laboriosam! Magnam nesciunt doloremque vel, expedita consequatur atque consectetur officia, beatae pariatur id dolor cum?Repellendus ullam ab alias quam labore quos fugiat provident ipsa tempora quas recusandae libero eaque numquam consequatur iure maxime aut dolorum hic, unde accusantium. Molestias eaque fugit corrupti ab a.Facere exercitationem, laboriosam delectus omnis quisquam laudantium quaerat, illum repellendus quasi praesentium consequuntur aspernatur. Non vero magni eos esse. Rem similique libero dicta accusamus ad, nobis magni distinctio iusto! Esse.Ad eaque quos porro laudantium. Laboriosam suscipit atque deleniti ratione aspernatur sunt rem hic quos amet, dolorem aliquid, commodi repellat voluptates neque quidem corporis ea obcaecati sapiente nobis maxime nihil.Officiis deleniti corrupti iste illum possimus. Dolor eligendi voluptas atque, adipisci quae quasi aperiam autem quam delectus natus? Fuga consequatur quae beatae repellendus expedita architecto tempora id placeat exercitationem repudiandae.

    section(class="section container")
      article
        header
          h4(class="heading-2 margin-block-end-8") Etchings
        
        p(class="margin-block-end-8 padding-inline-8") Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad fuga soluta aperiam natus consequatur quidem eligendi voluptas eos expedita nemo.

        p(class="margin-block-end-8 padding-inline-8") Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, cumque illum! Sint distinctio aperiam odio ipsum fugit impedit itaque reprehenderit illum omnis natus ducimus dolor quae molestias, nesciunt reiciendis illo.Laboriosam non esse atque voluptas pariatur saepe minima enim laborum reprehenderit? Ullam exercitationem nesciunt magnam neque ea. Minima accusantium alias debitis nemo quaerat, odit magni ad exercitationem aperiam iste repellat.Eum, vitae sed expedita nobis unde, exercitationem dolorum fugit ipsum minus quas aliquid odit temporibus, deserunt debitis hic id delectus? Tempora ex adipisci atque eum? Repellendus sed molestiae enim esse.

        img(src="../images/img-1.jpg", alt="", loading="lazy")

        p(class="margin-block-end-8 padding-inline-8") Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vitae praesentium quaerat reprehenderit cum quia laboriosam! Magnam nesciunt doloremque vel, expedita consequatur atque consectetur officia, beatae pariatur id dolor cum?Repellendus ullam ab alias quam labore quos fugiat provident ipsa tempora quas recusandae libero eaque numquam consequatur iure maxime aut dolorum hic, unde accusantium. Molestias eaque fugit corrupti ab a.Facere exercitationem, laboriosam delectus omnis quisquam laudantium quaerat, illum repellendus quasi praesentium consequuntur aspernatur. Non vero magni eos esse. Rem similique libero dicta accusamus ad, nobis magni distinctio iusto! Esse.Ad eaque quos porro laudantium. Laboriosam suscipit atque deleniti ratione aspernatur sunt rem hic quos amet, dolorem aliquid, commodi repellat voluptates neque quidem corporis ea obcaecati sapiente nobis maxime nihil.Officiis deleniti corrupti iste illum possimus. Dolor eligendi voluptas atque, adipisci quae quasi aperiam autem quam delectus natus? Fuga consequatur quae beatae repellendus expedita architecto tempora id placeat exercitationem repudiandae.
