doctype html
html(lang="en")
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class="nav-bar__main | container box-shadow-2 padding-block-4 padding-inline-8")
      div 
        p(class="fs-700 fw-bold") Lynn Evey

      include ./components/nav/mainNav
      if at_page === "store"

    block content
