@use "../abstracts/" as *;

.card {
  display: grid;
  gap: $card-flow-spacing;
  padding: $card-body-padding;
  background-color: $card-background-default;
  font-family: $card-font-family;
  color: $card-color-default;
  line-height: $card-line-height;
  border-radius: $card-border-radius;
  box-shadow: $card-box-shadow;

  &__heading {
    @include heading($card-heading-font-size, $card-heading-color-default);
  }

  &__item-preview {
    position: relative;
    overflow: hidden;
    transition: all ease-in-out 350ms;
    transform: scale(1);
    transform-origin: left top;
    border-radius: $default-border-radius;
    height: fit-content;

    @media (max-width: 950px) {
      margin-inline: auto;
    }
    &.exit {
      transform: scale(0);
      &.none {
        display: none;
      }
    }

    & .video {
      display: flex;
      flex-direction: column;
      padding: 0;
      & p:first-child {
        position: relative;
        font-family: $font-family-base;
        color: $color-primary-800-35;
        margin-block-end: 0.5rem;
        &::after {
          content: "";
          position: absolute;
          inset: 0;
          border-bottom: 2px $color-primary-300 solid;
        }
      }
    }

    // &:hover {
    //   & p.details {
    //     transform: translateY(1rem);
    //     @media (max-width: 950px) {
    //       transform: translateY(0);
    //     }
    //   }
    // }

    & button {
      padding: 0.5rem;
      background-color: $color-primary-200;
      isolation: isolate;
      border: solid 2px transparent;
      border-radius: $default-border-radius;
      &:is(:hover, :focus) {
        outline: none;
        border: solid 2px $color-primary-300;

        // & p.details {
        //   transform: translateY(1rem);
        // }
      }
      @media (max-width: 625px) {
        pointer-events: none;
      }
    }

    & div:has(img) {
      overflow: hidden;
      pointer-events: none;
    }

    .img-placeholder {
      position: absolute;
      border-radius: $default-border-radius;
      background-color: $color-primary-300;
      opacity: 0.7;
    }

    & img {
      pointer-events: none;
      border-radius: $default-border-radius;
      object-fit: contain;
      height: fit-content;
    }

    & div:has(p) {
      padding: 0.25rem 1rem 0rem;
      border-radius: $default-border-radius;
      pointer-events: none;
      text-align: left;
    }

    & p {
      color: $color-text-accent-default;
      font-size: $card-preview-title-font-size;
      font-weight: 700;
    }

    & p.details {
      font-family: $font-family-base;
      color: $color-primary-800-35;
      font-size: $font-size-500;
      margin-inline-start: 0.5rem;
      @media (max-width: 950px) {
        font-size: $font-size-400;
      }
      // &.mobile {
      //   display: none;
      //   @media (max-width: 950px) {
      //     display: block;
      //     position: relative;
      //     transform: translateY(0);
      //   }
      // }
    }
  }
}
