@use "../abstracts/" as *;

main {
    & img:first-child {
        max-height: 65vh;
        width: 100%;
        object-fit: cover;
    }
}

.main {
    &__hero {
        font-family: $font-family-accent;

        & p {
            font-size: $font-size-600;
        }

        & img:not(:first-child) {
            max-width: 30vw;
            float: right;
            display: block;
            margin: 0.5rem;
        }
    }
    &__gallery {
        font-family: $font-family-accent;

        & h1,
        & section {
            padding-block-end: clamp(3rem, 10vh, 4rem);
        }
    }
}