@use "../abstracts/" as *;

body:has(.modal__item-details[open]) {
    overflow: hidden;
}

.modal {
    &__item-details {
        overflow-x: hidden;
        &[open] {
            position: fixed;
            transform: translateY(75%) scale(0.25); 
            transition: all ease-in-out 250ms;
            transform-origin: center top;
            display: flex;
            margin: auto;
            flex-direction: column;
            padding: 2.5rem 6.5rem;
            background-color: $modal-background-default;
            border-radius: $default-border-radius;
            max-height: 95vh;
            height: fit-content;
            border-color: $color-primary-800;
            @media (max-width: 1100px) {
                padding: 2.5rem;

            }
            @media (max-width: 550px) {
                padding: 1.5rem;
            }
            &.open {
                transform: translateY(0) scale(1); 
            }
        }
        &::backdrop {
            background-color: hsl(20 23% 23%);
            opacity: 0.85;
        }
        & div:not(:last-child) {
            display: flex;
            @media (max-width: 1100px) {
                flex-direction: column;   
            }
        }
        & div {            
            transform: translateX(0);
            transition: all ease-in-out 450ms;
            &.exit-next {
                position: absolute;
                top: 2.5rem;
                transform: translateX(-125%);
            }
            &.enter-next {
                transform: translateX(125%)
            }
            &.exit-previous {
                position: absolute;
                top: 2.5rem;
                transform: translateX(125%);
            }
            &.enter-previous {
                transform: translateX(-125%)
            }
        }
        &-description {
            max-width: 25ch;
            padding-inline: $size-4 $size-2;
            font-size: $modal-description-font-size;
            font-family: $font-family-base;
            font-weight: $font-weight-semi-bold;
            color: $color-text-default;
            @media (max-width: 1100px) {
                max-width: 60ch;
                padding-block: $size-4;
            }
        }
    }
    &__img {
        border-radius: $default-border-radius;
        object-fit: contain;
        @media (min-width: 1100px) {
            max-height: calc(95vh - 6rem);
        }
    }
    &__text-container {
        margin-inline-start: $size-8;
        @media (max-width: 1100px) {
            margin-inline-start: 0;
            margin-block-start: $size-8;
        }
        & h1 {
            margin-block: $size-4 $size-6;
            
            @media (max-width: 1100px) {
                margin-block: 0;
            }
        }
    }
    &__btn-container {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        pointer-events: none;
        padding-inline: 1rem;
        @media (max-width: 1100px) {
            padding-block-start: 1rem;
            position: relative;
            justify-content: space-around;
        }
    }


    &__contact {
        position: fixed;
        margin: auto;
        transform: translateY(75%) scale(0.25); 
        transition: all ease-in-out 250ms;
        padding: 2.5rem;
        background-color: $modal-background-default;
        border-radius: $default-border-radius;
        border-color: $color-primary-800;
        &.open {
            transform: translateY(0) scale(1); 
        }
        
        &::backdrop {
            background-color: hsl(20 23% 23%);
            opacity: 0.85;
        }
    }
}

    