@use "../abstracts/" as *;
@use "sass:color";

.nav {
  &__main,
  &__store,
  &__gallery {
    & .gallery-nav {
      background-color: transparent;
      border: none;
      color: $link-color;
      &:is(:hover, :focus) {
        color: $link-color-hover;
      }
    }
    & a,
    & .gallery-nav {
      position: relative;
      display: inline-block;
      padding: 1.5rem 1.5rem;
      text-decoration: none;
      &::before {
        content: "";
        position: absolute;
        background-color: $link-color-hover;
        height: 4px;
        bottom: 0;
        left: 0.25rem;
        right: 0.25rem;
        transform: scaleX(0);
        transform-origin: center;
        transition: all ease-in-out 250ms;
      }

      &:is(:hover, :focus):not(.current) {
        &::before {
          transform: scaleX(1);
        }
      }

      & p {
        pointer-events: none;
        font-family: $font-family-base;
        font-size: $font-size-600;
        font-weight: $font-weight-bold;
        text-transform: $nav-text-transform;
      }
    }
    & a.current,
    & .gallery-nav.current {
      color: $link-color-hover;
      &::after {
        content: "";
        position: absolute;
        background-color: $link-color-hover;
        height: 4px;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
  &__main {
    @media (max-width: 650px) {
      position: absolute;
      top: 0;
      right: 0;
      flex-direction: column;
      align-items: center;
      background-color: $color-mobile-main-nav;
      height: 100vh;
      text-align: center;
      transform: translateX(100%);
      transition: all 350ms ease-in-out;
      &.open {
        transform: translateX(0);
        box-shadow: $box-shadow-left;
      }
      &.flex-group {
        row-gap: 0;
      }
      & li {
        width: 100%;
        //border-bottom: 2px solid $link-color-hover;
        &:first-child {
          margin-block-start: 10rem;
          //border-top: 2px solid $link-color-hover;
        }
        &:has(a.current) {
          background-color: $color-mobile-main-nav-current;
        }
      }
      & a {
        padding-block: 0.5rem;
        padding-inline: $nav-main-inline-padding;
        width: 100%;
        &::before, &.current::after {
          left: 0;
          right: 0;
        }
        & p {
          width: 100%;
          font-size: 1.5rem;
        
        }
      } 
    }
  }
  &__store {
    display: flex;
    justify-content: flex-end;
    padding-inline-end: 1rem;
  }
  &__gallery {
    & ul {
      margin-inline: auto;
    }
    @media (max-width: 650px) {
      position: relative;
      & ul {
        position: absolute;
        padding-block-start: 1.5rem;
        right: calc(0.5rem + 2px);
        top: -0.5rem;
        flex-direction: column;
        transform-origin: top right;
        transform: scale(0);
        transition: all 350ms ease-in-out;
        align-items: center;
        background-color: $color-primary-200;
        text-align: center;
        border: 4px solid $color-primary-700;
        border-radius: $default-border-radius;
        box-shadow: $box-shadow-2;
        row-gap: 0;
        z-index: 45;
        & .gallery-nav {
          &::before {
            background-color: transparent;
            left: 0;
            right: 0;
          }
        }
        & button,
        & li {
          width: 100%;
          &:has(button.current) {
            background-color: $color-primary-100;
          }
        }
        
        &.open {
          transform: scale(1);
          &.active {
            & .gallery-nav {
             &::before {
                background-color: $link-color-hover;
              }
            }
          }
        }
      }
    }
  }
}

.nav-bar {
  &__main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    background-color: $color-primary-200-95;
    align-items: center;
    z-index: 50;
    &.container {
      width: 100%;
    }
    & p {
      font-family: $font-family-logo;
      @media (max-width: 650px) {
        padding-block: 1rem;
      }
    }
  }
}
