@use "../abstracts/" as *;

.quote {
    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $size-8 $size-10;
        margin-inline: $size-9;
        
        background-color: $color-primary-200-75;
        border: 1px solid $color-primary-300;
        border-radius: 15px;
        // &::before {
        //     content: open-quote;
        //     position: absolute;
        //     top: $size-2;
        //     left: $size-6;
        //     font-size: $font-size-800;
        // }
        @media (max-width: 1050px) {
            margin-inline: 0;
        }   
    }
    &__text {
        position: relative;
        width: fit-content;
        font-family: $font-family-logo;
        font-weight: $font-size-900;
        &::before {
            content: open-quote;
            position: absolute;
            top: - $size-6;
            left: - $size-8;
            font-size: $font-size-900;
            font-weight: 700;
        }
        &::after {
            content: close-quote;
            position: absolute;
            bottom: - $size-10;
            right: - $size-6;
            font-size: $font-size-900;
            font-weight: 700;
        }
        
    }

    &__author {
        align-self: flex-end;
        text-align: right;
    }


}