extends ../../layout

block content

  h1= title

  if all_categories.length !== 0
    ul 
        each category in all_categories
            li  
                a(href=`.${category._URL}`) 
                    p #{category.name}

  else 
    li There are no categories to display.