extends ../layout

block content
  h1= title

  if categories === 0
    ul 
        each category in categories
            li  
                a(herf=category._URL) #{category.name}

  else 
    li There are no categories to display.