form(method='POST' action='')
    div.form-group
        label(for="category-name")  Category Name: 
        input#category-name.form-control(type='text' placeholder='Category name' name='category-name' required='true' value=(undefined===category ? '' : category.name))

    button.btn.btn-primary(type='submit') Submit


if errors
  ul
    for error in errors
        li!= error.msg