extends ../../layout

block content
  h1= title

  if all_items.length !== 0
    ul 
        each item in all_items
            li  
                a(herf=item._URL) #{category.name}

  else 
    li There are no items to display.