extends ../../layout

block content
  include ../../components/storeNav

  h1= title

  if all_items.length !== 0
    ul 
        each item in all_items
            li  
                a(href=`.${item._URL}`) 
                    p #{item.name}

  else 
    li There are no items to display.